*,
::before,
::after {
  box-sizing: border-box;
} //utilizamos el selector universal ya que no se hereda la propiedad. Si queremos que alguno cumpla content-box, lo especificamos.

a,
a:focus,
a:active,
a:visited {
  color: inherit;
  /*quitar underline*/
}

body {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
