@use "../variables/color-palette";
@use "../utils/functions";
@use "../breakpoints/breakpoints";

.viewport {
  overflow: hidden;
  height: 100vh;
  background-color: color-palette.$primary-color-dark;
}

.top-background-circle {
  position: relative;
  bottom: 537;
  right: 797;

  @media screen and (min-width: breakpoints.$breaking-point-to-desktop) {
    position: relative;
    bottom: 451;
    right: 182;
  }
}

.bottom-background-circle {
  position: fixed;
  bottom: -557;
  right: -613;

  @media screen and (min-width: breakpoints.$breaking-point-to-desktop) {
    position: fixed;
    bottom: -449;
    right: -135;
  }
}
